<h1>Listing Proucts</h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Add new Product', new_product_path(type: 'Pen') %>

<% if @products.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>color</th>
        <th>Status</th>
        <th>Inward Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%#= TODO: product.price %></td>
          <td><%= product.color %></td>
          <td><%= product.status %></td>
          <td><%= product.inward_date %></td>
          <td><%#= TODO: link_to 'Edit', edit_product_path(product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no products at the moment! </p>
<% end %>
