<h1>Listing Products</h1>

<p id="notice"><%= notice %></p>

<% Product::Types.each do |type| %>
  <%= link_to "Add new #{type}", new_product_path(type: type) %>
<% end %>

<% if @products.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>color</th>
        <th>Status</th>
        <th>Inward Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.type.to_s %></td>
          <td><%= product.color %></td>
          <td><%= product.status %></td>
          <td><%= product.inward_date %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no products at the moment! </p>
<% end %>
